.navbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    font-size: 25px;
}

.navbar-container a {
    color: #96406B;
    text-decoration: none;
}

.navbar-container a:hover {
    color: #E6F4F1;
}

.navbar-container .active-link {
    color: #FFEBCD;
    text-decoration: underline;
}

.navbar-container {
    gap: 40px;
    padding: 20px;
    font-size: 20px;
}