.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
  }
  
.project-item {
  border: 1px solid #96406B;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  word-wrap: break-word;
}
  
.projects-container img {
  width: 50%;
  /* height: 250px; */
}

.content-info-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content-info-item {
  margin: 10px;
  padding: 20px;
}

.parragraph {
  text-align: start;
}

@media (max-width: 480px) {
  .projects-container {
    display: flex;
    flex-direction: column;
  }

  .content-info-section {
    display: flex;
    flex-direction: column;
  }
}