.about-img-container img {
    width: 40%;
    border-radius: 5px;
}

.space {
    padding: 25px;
}

.icon-with-link {
    display: flex;
    gap: 5px;
    align-items: center;
}

.parragraph {
    text-align: start;
}

.document-style {
    padding: 25px 300px 15px 300px;
    text-align: start;
}

@media (max-width: 480px) {
    .document-style {
        padding: 15px;
    }
}