// About styles
.content-page-wrapper {
  margin-top: 20px;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 84px);

  .right-column {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .contact-bullet-points {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 21px;

      .bullet-point-group {
        display: flex;
        align-items: center;

        .icon {
          font-size: 2em;
          color: $teal;
        }

        .text {
          font-size: 1.5em;
          font-weight: 900;
          margin-left: 21px;
        }
      }
    }
  }
}

// Home styles
.home-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// contact styles
.contact-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.contact-left-side {
  height: 525px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 150px;
  background-color: #f3f5f7;
  border-radius: 10px;
  padding: 20px;
}

.contact-title {
  font-size: 30px;
  font-weight: bold;
}

.contact-link {
  color: #0b70df;
  font-size: 20px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-info-link {
  display: flex;
}

.contact-link-text {
  margin-right: 80px;
  display: flex;
}

.contact-icons {
  display: flex;
  gap: 10px;
}

@media (max-width: 480px) {
  .content-page-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
  }

  .left-column img {
    display: none;
  }

  .right-column {
    margin: 10px;
    padding-left: 30px;
  }

  .resume {
    padding: 10px;
  }
  .home-title {
    padding: 20px;
  }
  
  .contact-container {
    flex-direction: column;
    align-self: center;
  }

  .contact-left-side {
    width: 80%;
    height: 300px;
    overflow: visible;
    display: block
  }

  .contact-right-side img {
    display: none;
  }

  .contact-link-text {
    margin-right: 15px;
  }
}
